# Fourth step SMG data analysis

#### A few notes:

1. All markdown titles were kept as comments within each code cell.
2. At the beginning and at the end of each cell a copy of the dataframe being 
modified is made in order to allow for several executions of that cell without 
running the previous part of the ipynb. 
3. Along the code some data is being stored separately in order to be used 
in Batch 5 for the plot graphs.

In [12]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt 
plt.style.use('seaborn-colorblind')
%matplotlib inline
import seaborn as sns
import regex as re
from Levenshtein import distance as lev
from concurrent.futures import ThreadPoolExecutor
from dns import resolver
import requests
import threading
from datetime import datetime
import pickle

# Omitir warnings
import warnings
warnings.filterwarnings('ignore')

In [13]:
str(datetime.now())

'2022-09-11 15:10:38.367494'

In [14]:
# Data read

df_data = pd.read_csv('set_smg.csv', encoding='ansi').astype('object')

df_data.columns

Index(['ID', 'ID_Mail', 'Email', 'Origen_mail', 'ID_Telefono',
       'Numero_Completo', 'Origen_telefono'],
      dtype='object')

In [ ]:
# Data sort

df_data.sort_values(by=['ID', 'ID_Mail', 'ID_Telefono'], inplace=True)

# df_data

In [16]:
# Join ID columns setting up

df_join = df_data[['ID', 'ID_Mail', 'ID_Telefono']]

df_temp_join = df_join.copy()

In [17]:
df_join = df_temp_join.copy()

# Duplicates removal (just in case, as it is shown, there aren't any)

df_join.drop_duplicates(keep='first', inplace=True)
df_join.reset_index(drop=True, inplace=True)

df_temp_join = df_join.copy()

df_join

             ID   ID_Mail ID_Telefono
0       9192347  21040637   159326675
1       9192347  21040637   159326839
2       9192347  21040637   159327097
3       9192347  21040637   159327100
4       9192347  21040637   159327103
...         ...       ...         ...
499995  9667277  18433466   160122884
499996  9667277  18890698   160122877
499997  9667277  18890698   160122879
499998  9667277  18890698   160122881
499999  9667277  18890698   160122884

[500000 rows x 3 columns]

In [ ]:
df_temp_mails = pd.read_csv('df_mails_final.csv', index_col=[0]) \
                            .astype('object')
df_temp_mails.rename(columns={'contactability':'scoring_mail'}, inplace=True)
df_temp_mails.drop(['Email', 'user', 'domain', 'valid', 'valid_domain', \
                    'trust', 'user_trust'], axis=1, inplace=True)

# df_temp_mails

In [ ]:
df_temp_phones = pd.read_csv('df_phones_final.csv', index_col=[0]) \
                            .astype('object')
df_temp_phones.rename(columns={'contactability':'scoring_phone'}, inplace=True)
df_temp_phones.drop(['Numero_Completo'], axis=1, inplace=True)

# df_temp_phones

In [ ]:
df_join = df_temp_join.copy()
df_mails = df_temp_mails.copy()
df_phones = df_temp_phones.copy()

# Merge ID, Mails and Phones dfs

df_join = pd.merge(df_join, df_mails, how='left')
df_join = pd.merge(df_join, df_phones, how='left')

df_join

In [21]:
df_join.to_csv('df_joins_final.csv')

In [22]:
str(datetime.now())

'2022-09-11 15:10:49.037651'